{% extends "base.html" %}
{% block content %}
<section class='container mx-auto mt-3'>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for data in taskData %}
        <div class="col">
          <div class="card h-100">           
            <div class="card-body">
              <h4 class="card-title">{{data.title}}</h4>
              <p class="card-text">{{data.description}}</p>
              <p class="card-text">{{data.task_assign_Date}}</p>
              {% if data.category.all %}
              <small class="fw-bold">Categores : </small>
                  {% for cat in data.category.all %}
                  <button class="btn btn-primary btn-sm m-1" disabled>{{cat}}</button>
                  {% endfor %}
              {% else %}
                <p class="card-text">No categories</p>
              {% endif %}

              <div>
                {% if data.is_complited %}
                <button class="btn m-1 text-black border-0" disabled style="background-color:#00FF00">Completed</button>
                {%else%}
                <a class="btn btn-warning m-2 text-uppercase text-black" href="{% url 'edit_task' data.id %}">Edit</a>
                <a class="btn btn-danger m-2 text-uppercase" href="{% url 'delete_task' data.id%}">Delete</a>
                
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</section>
{% endblock content %}